.header{
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ccc;
  .logo-text{
    color: #f5535b;
  }
  .weather{
    position: absolute;
    right: 25%;
    color:#000;
    span{
      margin-right:20px;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.logo {
  width: 120px;
  height: 31px;
  color: #000;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  margin-left:22%;
  .logo-pic{
    width:.5rem;
    height: .5rem;
  }
}

@media (max-width:1024px){
  .header{
    padding-bottom: 20px!important;
    .weather{
      display: none;
    }
  }
}
